.Movies {
  width: 18.95rem;
  height: 34.5rem;
  padding-bottom: 1.7rem;
}

.Movies:hover {
  cursor: pointer;
  background-color: #C7C7C7;
  transition: background-color 0.5s;
}

.poster img {
  width: 18.75rem;
  height: 25rem;
}

.poster {
  width: 100%;
  margin-bottom: 1rem;
}

.more-info a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: #cca353;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.more-info a:hover {
  cursor: pointer;
  background-color: #a7874b;
}

.visible {
  position: absolut
}

.no-visible {
  display: none;
}
